{% extends "layout.html" %}

{% block body %}
    <h1>Personal Task Manager</h1>
    {% if task_list | length == 0 %}
        <p>Your task list is empty.</p>
        <a href="/add_task/">Add a task</a>
    {% else %}
        <p>These are your current tasks:</p>
        <table>
            <tr>
                {% for col in task_cols %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% for task in task_list %}
            <tr>
                {% for key,value in task.items() %}
                <td>{{ value }}</td>
                {% endfor %}
                <td>
                    <form method="post" action="/delete_task/">
                        <button type="submit" name="row_index" value="{{ loop.index0 }}">Delete Task</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/add_task/">Add a task</a>
    {% endif %}
    <br>
{% endblock %}